	

	<tr>
	  <td><%= instructed_class.time %></td>
	  <td>Add Class</td>
	  <td><%= instructed_class.lesson.name %></td>
	  <td><%= instructed_class.teacher.name %></td>
	  <td><%= instructed_class.duration %></td>
	  <td><%= link_to "edit", edit_instructed_class_path(instructed_class) %></td>
	  <td><%= link_to "delete", instructed_class, method: :delete, remote: true, class: "destroy_instructed_class" %></td>
	</tr>

         