	<tr>
	  <td><%= instructed_class.time.to_formatted_s(:short) %></td>
	  <td>
	  	<%= form_with model: @enrollment, scope: 'enrollment', class: "new_enrollment"  do |f| %>
        <%= f.hidden_field :instructed_class_id, value: instructed_class.id %>
        <%= f.hidden_field :current_user_id, value: current_user.id %>
        <%= f.submit "add", :disable_with => 'Submiting...' %>
       <% end %>
      	<p class="small_font">(), reserved, (<%= instructed_class.class_size %>), open</p>
    </td>
	  <td><%= instructed_class.lesson.name %></td>
	  <td><%= instructed_class.teacher.name %></td>
	  <td><%= instructed_class.duration %></td>
	  <td><%= link_to "edit", edit_instructed_class_path(instructed_class) %></td>
	  <td><%= link_to "delete", instructed_class, method: :delete, remote: true, class: "destroy_instructed_class" %></td>
	</tr>
