
<div class="container-fluid">
 <div class="row">
 	<div class="col l2 s2"></div>
 	 <div class="col l6 s9">
 	 	<div class="card blue-grey darken-1">
      <div class="card-content white-text">
      	<%= link_to "Click here for Class Schedule", instructed_classes_path %>
   		</div>
		</div>
	</div>
	<div class="col l3 s3"></div> <!-- end of column -->
 	<div class="col s12 m9">
<!--   	<div class="card"> -->
	  	  <div class="carousel">
			    <a class="carousel-item" href="#eight!"><%= image_tag("home_page_slide_eight.png") %></a>
			  	<a class="carousel-item" href="#seven!"><%= image_tag("home_page_slide_seven.png") %></a>
			  	<a class="carousel-item" href="#six!"><%= image_tag("home_page_slide_six.png") %></a>
			  	<a class="carousel-item" href="#five!"><%= image_tag("home_page_slide_five.png") %></a>
			  	<a class="carousel-item" href="#four!"><%= image_tag("home_page_slide_four.png") %></a>
			  	<a class="carousel-item" href="#three!"><%= image_tag("home_page_slide_three.png") %></a>
			  	<a class="carousel-item" href="#two!"><%= image_tag("home_page_slide_two.png") %></a>
			  	<a class="carousel-item" href="#one!"><%= image_tag("home_page_slide.png") %></a>
	  		</div>
  <!--   	</div> -->
  	</div>
  <div class="col s12 m3 float_right">
    <div class="card blue-grey darken-1">
      <div class="card-content white-text">
        <p>An Onyx is composed of straight and parallel bands of different colors that come together to create a strong black stone that represents strength, courage, beauty and grace. All of our students and instructors are those bands of color that make us whole, without all of you we would not be an Onyx. At Onyx it is our purpose to provide you a safe haven to be yourself without judgment and to overcome fears. Whatever strength you desire to find whether it is physical or mental we are to support you.  If your goal is to learn a new hobby, meet new friends, defy gravity,  or just escape the daily stressors of life Onyx will be here for you, cheering you on!</p>
      </div>
       <span class="card-title"><%= link_to "Start Here", user_session_path  %></span>
    	</div>
		</div>
	</div> <!-- end of row -->
	<div class="row">
  	<div class="col s12 m3 float_right">
	    <div class="card blue-grey darken-1">
	      <div class="card-content white-text">
	      	<span class="card-title">The Studio</span>
	        <p>Our spacious facility is not only inviting but also very accomodating. Because of the size of our studio, we can teach multiple classes simultaneously. We have an open floor plan perfect for the various classes we offer, a large aerial floor that has 4 silks and 4 aerial hoops, 
					Onyx has 5 competition grade Xpoles that are 14 feet tall and a private pole room with 8 10 foot tall lupit poles.
					We have 16 instructors to help keep you safe and product & apparel boutique to supply you with what you need for your ONYX experience.</p>
	      </div>
	      <span class="card-title"><%= link_to "Start Here", user_session_path  %></span>
	    	</div>
			</div>
			<div class="col s12 m9">
	  		<!-- <div class="card blue-grey darken-1">
	    		<div class="card-content white-text"> -->
	      		<span class="card-title"><%= image_tag("studio.png", class: "studio_img") %></span>
	      		<span class="card-title"><%= image_tag("studio_two.png", class: "studio_img") %></span>
	    	<!-- 	</div>
	  		</div> -->
			</div>	
		</div> <!-- end of row -->
		<div class="row">
			<div class="col s3 m3">
				<div><%= image_tag("pole_image.png", class: "circle") %>
					<div class="flow-text">Pole</div>
				</div>
	    </div>
	     <div class="col s3 m3">
				<div><%= image_tag("pole_image_four.png", class: "circle") %>
					<div class="flow-text">Silks</div>
				</div>
	    </div>
	    <div class="col s3 m3">
				<div><%= image_tag("pole_image_three.png", class: "circle") %>
					<div class="flow-text">Hoops</div>
				</div>
	    </div>
	    <div class="col s3 m3">
				<div><%= image_tag("pole_image.png", class: "circle") %>
					<div class="flow-text">Pole Fitness</div>
				</div>
	    </div>
	  </div><!-- end of row -->
	  <div class="row">
			<div class="col s3 m3">
				<div><%= image_tag("flexability.jpg", class: "circle") %>
					<div class="flow-text">Flexability</div>
				</div>
	    </div>
	    <div class="col s3 m3">
				<div><%= image_tag("pole_image.png", class: "circle") %>
					<div class="flow-text">Pole'Ography and Pole'Esque</div>
				</div>
	    </div>
	  	<div class="col s3 m3">
				<div><%= image_tag("pole_image.png", class: "circle") %>
					<div class="flow-text">Exotic Essentials</div>
				</div>
	    </div>
	    <div class="col s3 m3">
				<div><%= image_tag("belly_dancing.png", class: "circle") %>
					<div class="flow-text">Belly Dancing</div>
				</div>
	    </div>
	  </div><!-- end of row -->
	  <div class="row">
	  	<h1 id="faqs">FAQ'S</h1>
			<div class="col s3 m3">
		    <div class="card blue-grey darken-1">
		      <div class="card-content white-text">
		      	<span class="card-title">How do I sign up?</span>
		        <p> After you have created a log in for yourself you will be able to sign up for classes 48 hours prior to the class time. If you have signed up for a class and are unable to come after registering  go online and cancel your class opening up your spot for someone else.</p>
		 			</div>
		 		</div>
		 	</div>
		 	<div class="col s3 m3">
		 		<div class="card blue-grey darken-1">
		      <div class="card-content white-text">
		      	<span class="card-title">What do I wear?</span>
						<p>That depends on what class you are taking.
						Please remove all jewelry before coming into the studio.</p>
					</div>
				</div>
			</div>
			<div class="col s3 m3">
				<div class="card blue-grey darken-1">
		      <div class="card-content white-text">
		      	<span class="card-title">Pole classes</span>
						<p> Attire should be easy to move in but cover all the apporpriate areas. Make sure to wear tight fitting shorts, a tank top with sports bra and no shoes.  Dont't put on lotion the day of your class.</p>
					</div>
				</div>
			</div>
			<div class="col s3 m3">
				<div class="card blue-grey darken-1">
		      <div class="card-content white-text">
		      	<span class="card-title">Silks and Hoop</span>
						<p>Be sure to wear long tight pants, leggings are great but wear shorts over because they do become see through when stretched</p>
					</div>
				</div>
			</div>
			<div class="col s3 m3">
				<div class="card blue-grey darken-1">
		      <div class="card-content white-text">
		      	<span class="card-title">Can anyone do it?</span>
						<p>
						Yes! We have women  and men of all shapes and sizes taking our classes. We ask that if you are under 18 you have parental permission.</p>
					</div>
				</div>
			</div>
			<div class="col s3 m3">
				<div class="card blue-grey darken-1">
		      <div class="card-content white-text">
		      	<span class="card-title">What can I do to help me improve in my pole and aerial classes?</span>
						<p>We recommend to keep a consistent workout schedule so that you are learning everything you need to know. We also have dew point, dry hands, rosin and mighty grip gloves that help improve your pole and aerial grip. We also offer private lessons after class for those wanting that one on one time.</p>
					</div>
				</div>
			</div>
			<div class="col s3 m3">
				<div class="card blue-grey darken-1">
		      <div class="card-content white-text">
		      	<span class="card-title">How many classes can I sign up for?</span>
						<p>
						If you have our monthly pass then you are able to take as many classes as you would like! For the punch passes you can come to as many classes as you have on the punch pass. If you have a punch pass you can take ANY class that you would like. So try out all our different apparatuses and classes we have to offer.</p>
					</div>
				</div>
			</div>
			<div class="col s3 m3">
				<div class="card blue-grey darken-1">
		      <div class="card-content white-text">
		      	<span class="card-title">No Shows</span>
						<p>No Show Policy: $5 for every no show and $3 for every late cancel</p>
						</div>
				</div>
			</div>
	       <span class="card-title">Start Here</span>
	</div> <!-- end of row -->
	<div class="row">
	  <div class="col s3 m6">
	    <!-- <h2 class="header">Horizontal Card</h2> -->
	    <div class="card horizontal" id="instructors">
	      <div class="card-image">
	        <%= image_tag("shae.png", class: "small") %>
	      </div>
	      <div class="card-stacked">
	        <div class="card-content">
	          <p>My desire is to help everyone gain that confidence within themselves and to love who they are.</p>
	          <br>
	          <p class="font">Pole, Silks, Hoop and Flexibility Instructor</p>
	        </div>
	        <div class="card-action">
	          <a href="#">Find out more about me!</a>
	        </div>
	      </div>
	    </div>
	  </div>
	 	<div class="col s3 m6">
	    <!-- <h2 class="header">Horizontal Card</h2> -->
	    <div class="card horizontal">
	      <div class="card-stacked">
	        <div class="card-content">
	          <p>I seek to help people experience the same confidence, strength, and exhilaration I have experienced from being upside down.</p>
	          <br>
	          <p class="font">Pole, Silks, Flexibility and Hand Balancing Instructor</p>
	        </div>
	        <div class="card-action">
	          <a href="#">Find out more about me!</a>
	        </div>
	      </div>
	      <div class="card-image">
	         <%= image_tag("carly.png", class: "small") %>
	      </div>
	    </div>
	  </div>
	</div> <!-- end of row -->
		<div class="row">
	  <div class="col s3 m6">
	    <!-- <h2 class="header">Horizontal Card</h2> -->
	    <div class="card horizontal">
	      <div class="card-image">
	        <%= image_tag("nicci.png", class: "small") %>
	      </div>
	      <div class="card-stacked">
	        <div class="card-content">
	          <p>My desire is to help everyone gain that confidence within themselves and to love who they are.</p>
	          <br>
	          <p class="font">Pole, Silks, Hoop and Flexibility Instructor</p>
	        </div>
	        <div class="card-action">
	          <a href="#">Find out more about me!</a>
	        </div>
	      </div>
	    </div>
	  </div>
	 	<div class="col s3 m6">
	    <!-- <h2 class="header">Horizontal Card</h2> -->
	    <div class="card horizontal">
	      <div class="card-stacked">
	        <div class="card-content">
	          <p>I seek to help people experience the same confidence, strength, and exhilaration I have experienced from being upside down.</p>
	          <br>
	          <p class="font">Pole, Silks, Flexibility and Hand Balancing Instructor</p>
	        </div>
	        <div class="card-action">
	          <a href="#">Find out more about me!</a>
	        </div>
	      </div>
	      <div class="card-image">
	         <%= image_tag("michelle.png", class: "small") %>
	      </div>
	    </div>
	  </div>
	</div> <!-- end of row -->
		<div class="row">
	  <div class="col s3 m6">
	    <!-- <h2 class="header">Horizontal Card</h2> -->
	    <div class="card horizontal">
	      <div class="card-image">
	        <%= image_tag("charlee.png", class: "small") %>
	      </div>
	      <div class="card-stacked">
	        <div class="card-content">
	          <p>My desire is to help everyone gain that confidence within themselves and to love who they are.</p>
	          <br>
	          <p class="font">Pole, Silks, Hoop and Flexibility Instructor</p>
	        </div>
	        <div class="card-action">
	          <a href="#"><%= link_to "Find out more about me!", teacher_path(:id)  %></a>
	        </div>
	      </div>
	    </div>
	  </div>
	 	<div class="col s3 m6">
	    <!-- <h2 class="header">Horizontal Card</h2> -->
	    <div class="card horizontal">
	      <div class="card-stacked">
	        <div class="card-content">
	          <p>I seek to help people experience the same confidence, strength, and exhilaration I have experienced from being upside down.</p>
	          <br>
	          <p class="font">Pole, Silks, Flexibility and Hand Balancing Instructor</p>
	        </div>
	        <div class="card-action">
	          <a href="#">Find out more about me!</a>
	        </div>
	      </div>
	      <div class="card-image">
	         <%= image_tag("kendall.png", class: "small") %>
	      </div>
	    </div>
	  </div>
	</div> <!-- end of row -->
		<div class="row">
	  <div class="col s3 m6">
	    <!-- <h2 class="header">Horizontal Card</h2> -->
	    <div class="card horizontal">
	      <div class="card-image">
	        <%= image_tag("wren.png", class: "small") %>
	      </div>
	      <div class="card-stacked">
	        <div class="card-content">
	          <p>My desire is to help everyone gain that confidence within themselves and to love who they are.</p>
	          <br>
	          <p class="font">Pole, Silks, Hoop and Flexibility Instructor</p>
	        </div>
	        <div class="card-action">
	          <a href="#">Find out more about me!</a>
	        </div>
	      </div>
	    </div>
	  </div>
	 	<div class="col s3 m6">
	    <!-- <h2 class="header">Horizontal Card</h2> -->
	    <div class="card horizontal">
	      <div class="card-stacked">
	        <div class="card-content">
	          <p>I seek to help people experience the same confidence, strength, and exhilaration I have experienced from being upside down.</p>
	          <br>
	          <p class="font">Pole, Silks, Flexibility and Hand Balancing Instructor</p>
	        </div>
	        <div class="card-action">
	          <a href="#">Find out more about me!</a>
	        </div>
	      </div>
	      <div class="card-image">
	         <%= image_tag("michael.png", class: "small") %>
	      </div>
	    </div>
	  </div>
	</div> <!-- end of row -->
		<div class="row">
	  <div class="col s3 m6">
	    <!-- <h2 class="header">Horizontal Card</h2> -->
	    <div class="card horizontal">
	      <div class="card-image">
	        <%= image_tag("mandi.png", class: "small") %>
	      </div>
	      <div class="card-stacked">
	        <div class="card-content">
	          <p>My desire is to help everyone gain that confidence within themselves and to love who they are.</p>
	          <br>
	          <p class="font">Pole, Silks, Hoop and Flexibility Instructor</p>
	        </div>
	        <div class="card-action">
	          <a href="#">Find out more about me!</a>
	        </div>
	      </div>
	    </div>
	  </div>
	 	<div class="col s3 m6">
	    <!-- <h2 class="header">Horizontal Card</h2> -->
	    <div class="card horizontal">
	      <div class="card-stacked">
	        <div class="card-content">
	          <p>I seek to help people experience the same confidence, strength, and exhilaration I have experienced from being upside down.</p>
	          <br>
	          <p class="font">Pole, Silks, Flexibility and Hand Balancing Instructor</p>
	        </div>
	        <div class="card-action">
	          <a href="#">Find out more about me!</a>
	        </div>
	      </div>
	      <div class="card-image">
	         <%= image_tag("lacie.png", class: "small") %>
	      </div>
	    </div>
	  </div>
	</div> <!-- end of row -->
		<div class="row">
	  <div class="col s3 m6">
	    <!-- <h2 class="header">Horizontal Card</h2> -->
	    <div class="card horizontal">
	      <div class="card-image">
	        <%= image_tag("karrie.png", class: "small") %>
	      </div>
	      <div class="card-stacked">
	        <div class="card-content">
	          <p>My desire is to help everyone gain that confidence within themselves and to love who they are.</p>
	          <br>
	          <p class="font">Pole, Silks, Hoop and Flexibility Instructor</p>
	        </div>
	        <div class="card-action">
	          <a href="#">Find out more about me!</a>
	        </div>
	      </div>
	    </div>
	  </div>
	 	<div class="col s3 m6">
	    <!-- <h2 class="header">Horizontal Card</h2> -->
	    <div class="card horizontal">
	      <div class="card-stacked">
	        <div class="card-content">
	          <p>I seek to help people experience the same confidence, strength, and exhilaration I have experienced from being upside down.</p>
	          <br>
	          <p class="font">Pole, Silks, Flexibility and Hand Balancing Instructor</p>
	        </div>
	        <div class="card-action">
	          <a href="#">Find out more about me!</a>
	        </div>
	      </div>
	      <div class="card-image">
	         <%= image_tag("suzette.png", class: "small") %>
	      </div>
	    </div>
	  </div>
	</div> <!-- end of row -->
		<div class="row">
	  <div class="col s3 m6">
	    <!-- <h2 class="header">Horizontal Card</h2> -->
	    <div class="card horizontal">
	      <div class="card-image">
	        <%= image_tag("jessica.png", class: "small") %>
	      </div>
	      <div class="card-stacked">
	        <div class="card-content">
	          <p>My desire is to help everyone gain that confidence within themselves and to love who they are.</p>
	          <br>
	          <p class="font">Pole, Silks, Hoop and Flexibility Instructor</p>
	        </div>
	        <div class="card-action">
	          <a href="#">Find out more about me!</a>
	        </div>
	      </div>
	    </div>
	  </div>
	 	<div class="col s3 m6">
	    <!-- <h2 class="header">Horizontal Card</h2> -->
	    <div class="card horizontal">
	      <div class="card-stacked">
	        <div class="card-content">
	          <p>I seek to help people experience the same confidence, strength, and exhilaration I have experienced from being upside down.</p>
	          <br>
	          <p class="font">Pole, Silks, Flexibility and Hand Balancing Instructor</p>
	        </div>
	        <div class="card-action">
	          <a href="#">Find out more about me!</a>
	        </div>
	      </div>
	      <div class="card-image">
	         <%= image_tag("natalie.png", class: "small") %>
	      </div>
	    </div>
	  </div>
	</div> <!-- end of row -->
		<div class="row">
	  <div class="col s3 m6">
	    <!-- <h2 class="header">Horizontal Card</h2> -->
	    <div class="card horizontal">
	      <div class="card-image">
	        <%= image_tag("kimberly.png", class: "small") %>
	      </div>
	      <div class="card-stacked">
	        <div class="card-content">
	          <p>My desire is to help everyone gain that confidence within themselves and to love who they are.</p>
	          <br>
	          <p class="font">Pole, Silks, Hoop and Flexibility Instructor</p>
	        </div>
	        <div class="card-action">
	          <a href="#">Find out more about me!</a>
	        </div>
	      </div>
	    </div>
	  </div>
	 	<div class="col s3 m6">
	    <!-- <h2 class="header">Horizontal Card</h2> -->
	    <div class="card horizontal">
	      <div class="card-stacked">
	        <div class="card-content">
	          <p>I seek to help people experience the same confidence, strength, and exhilaration I have experienced from being upside down.</p>
	          <br>
	          <p class="font">Pole, Silks, Flexibility and Hand Balancing Instructor</p>
	        </div>
	        <div class="card-action">
	          <a href="#">Find out more about me!</a>
	        </div>
	      </div>
	      <div class="card-image">
	         <%= image_tag("zoe.png", class: "small") %>
	      </div>
	    </div>
	  </div>
	</div> <!-- end of row -->
</div> <!-- end of container -->
