<tr class="enrollment">
	<td><%= enrollment.instructed_class.time.to_formatted_s(:short) %></td>
	<% if !local_assigns[:hide_name] %>
		<td><%= enrollment.user.first_name %>  <%= enrollment.user.last_name %></td>
	<% end %>
	<% if !local_assigns[:hide_count] %>
		<td class="small_font">(), reserved, (<%=enrollment.instructed_class.class_size %>), open</td>
	<% end %>
	<td><%= enrollment.instructed_class.lesson.name %></td>
	<td><%= enrollment.instructed_class.teacher.name %></td>
	<td><%= enrollment.instructed_class.duration %></td>
		<td><%= link_to "remove", enrollment, method: :delete, remote: true, class: "destroy_enrollment" %></td>
</tr>