  
<div class="form">
    <%= form_with model: @lesson, class: "new_lesson", html: {multipart: true} do |f| %>
    	<%# f.label :name %>
        <%= f.text_field :name, placeholder: 'class name', class: "form-control", id: "name" %>
        <br>
        <%# f.label :description %>
        <%= f.text_field :description, placeholder: 'description', class: "form-control", id: "description" %>
          <%= f.label :avatar, "add image" %>
        <br>
        <%= f.file_field :avatar, class:"button" %>
        <br>
        <br>
        <%= f.submit "Create Class" %>
    <% end %>
</div>	