  	<div class="col s3 m6 teachers">
	    <div class="card horizontal">
	    	<div class="card-image">
       		<%= image_tag teacher.avatar.url(:thumb) %>
      	</div>
	      <div class="card-stacked">
	        <div class="card-content">
	        	<span class="card-title"><%= teacher.name %></span>
		          <p><%= teacher.bio %></p>
		           <p><%# classes_taught %></p>
	        </div>
	        <% if !local_assigns[:hide_link] %>
		        <div class="card-action">
		        	<%= link_to "Find out more about me!", teacher_path(teacher)  %>
		        	<%= link_to "delete", teacher, method: :delete, remote: true, class: "destroy_teacher float_right"%>
		 	          <%= link_to "edit", edit_teacher_path(teacher), class: "float_right" %>
		        </div>
		      <% end %>
	      </div>
	    </div>
	  </div>
