<div class="form">
    <%= form_with model: @show, class: "new_show", html: {multipart: true} do |f| %>
    
        <%# f.label :date %>
        <%= f.date_field :date, placeholder: 'date', class: "form-control", id: "date" %>
        <br>
        <%# f.label :time %>
        <%= f.time_field :time, placeholder: 'time', class: "form-control", id: "time" %>
        <br>
    	<%# f.label :title %>
        <%= f.text_field :title, placeholder: 'title', class: "form-control", id: "title" %>
        <br>
        <%# f.label :description %>
        <%= f.text_field :description, placeholder: 'description', class: "form-control", id: "description" %>
       <br>
        <table>
            <thead>
              <tr>
                <th>Seating Section</th>
                <th>Cost</th>
                <th>Quanity of seats</th>
              </tr>
            </thead>
            <tbody>
                <tr>
                    <% Seat.all.each do |seat| %>
                    <td>
                   <label for="seat_ids[]"><%= seat.section %></label>
                    <%# for seat in Seat.find(:all) do %>
                     <br><%# check_box_tag 'seat_ids[]', seat.id,
                         @model.seat_ids.include?(seat.id) %>
                        <%= seat.section.humanize %>
                    <%# end %>
                    <%# f.label :cost %>
                    <%= f.text_field :cost, placeholder: 'cost', class: "form-control", id: "cost" %>
                    <%# f.label :quanity of seats %>
                    <%= f.text_field :quanity, placeholder: 'quanity', class: "form-control", id: "quanity" %>
                    </td>
                    <% end %>
                </tr>

        </tbody>
        <%= f.label :Seating %>
        <div class="input-field">
        <%= f.select :seat_id, Seat.all.collect {|s| [s.section, s.id]},{}, {class: "form-control"} %>
        </div>
         <%= f.label :avatar, "add image" %>
        <br>
        <%= f.file_field :avatar, class:"button" %>
        <br>
        <br>
        <%= f.submit %>
    <% end %>
</div>	