<!DOCTYPE html>
<html>
  <head>
    <title>Onyx</title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> 
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
	  <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <div class="container-fluid">
      <div class="row">
        <div class="col l6 s6">
          <div><%= link_to image_tag('logo.png', class: "logo"), root_path %>
          </div>
        </div>
        <div class="col l3 s3"></div>
        <div class="col l3 s3">
          <h4 class="font">"Remind yourself nobody poles like you." </h4>
            <h4 class="font">"You design yourself."</h4></div> 
      </div>
    </div>
    <nav>
      <div class="nav-wrapper">
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="#home">About Us</a></li>
          <li><a href="#instructors"><%= link_to "Instructors", teachers_path %></a></li>
          <li><a href="collapsible.html"><%= link_to "Classes", lessons_path %></a></li>
          <li><a href="collapsible.html"><%= link_to "Prices", static_path('prices') %></a></li>
           <li><a href="collapsible.html"><%= link_to "Class Schedule", instructed_classes_path %></a></li>
          <li><a href="collapsible.html">Workshops</a></li>
          <li><a href="collapsible.html"><%= link_to "Girls Night Out", static_path('gno') %></a></li>
          <li><a href="collapsible.html"><%= link_to "Shows", shows_path %></a></li>
          <li><a href="#faqs">FAQ'S</a></li>
          <li><a href="#faqs"><%= link_to "Contact Us", email_index_path %></a></li>
          <li><a href="#"><%= link_to "My Profile", edit_user_registration_path %></a></li>
           <li><a href="#"><%= link_to "Enrollments", enrollments_path %></a></li>
           <li><a href=""><%= link_to "Log Out", destroy_user_session_path, method: :delete%></a></li>
        </ul>
      </div>
    </nav>
    <%= yield %>
    <footer class="page-footer ">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="black-text">Hours</h5>
                <p class="black-text text-lighten-4">MONDAY 9:30-12:30  5:00-9:00
                <br>
                TUESDAY 11:30-2:30 5:00-9:00PM
                <br>
                WEDNESDAY 10:00-2:00 5:00-9:00PM
                <br>
                THURSDAY 9:30-12:30 5:00-9:00
                <br>
                FRIDAY 9:30-12:30
                <br>
                ​SATURDAY 9:30-12:30
                <br>
                SUNDAY 9:00-2:00
                <br>
                RECEPTIONIST HOURS
                <br>
                ~MONDAY-THURSDAY 5:30-9:00~</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="black-text">Contact Us</h5>
                <ul>
                  <li><a class="black-text text-lighten-3" href="#!">8385 South Allen Street #114 (540 West)
                  Sandy, UT 84070</a></li>
                  <br>
                  <li><a class="black-text text-lighten-3" href="#!">dancesaltlake@gmail.com</a></li>
                  <br>
                  <li><a class="black-text text-lighten-3" href="#!">Tel: 801-652-9575</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright black-text">
            <div class="container">
            © 2017 Copyright Text
              <% if user_signed_in? %>
              <a class="black-text text-lighten-4"><%= link_to "Classes", instructed_classes_path, class: "right" %></a>
              <% else %>
              <a class="black-text text-lighten-4 right"><%= link_to "Sign In", user_session_path, class: "right" %></a>
              <% end %>
            </div>
          </div>
        </footer>
  </body>
</html>
